<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h3>Edit</h3>
    <form style="width: 100%" action="/edit/<%= id %>" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" />
      </div>

      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" cols="30" rows="10"> </textarea>
      </div>

      <div class="form-control completed">
        <label for="completed">Completed</label>
        <input type="checkbox" name="completed" />
      </div>

      <button type="submit">Create</button>
    </form>
    <% for(var i=0; i< todos.length; i++) { %>
    <ul>
      <li>
        <div class="todo-card">
          <input type="checkbox" name="completed" <%= todos[i].completed ?
          "checked" : "" %> />
          <label for=""><%= todos[i].title %></label>
          <div class="todo-description">
            <p><%= todos[i].description %></p>
          </div>
          <form action="/<%= todos[i].id %>" method="POST">
            <button type="submit">Delete</button>
          </form>
          <form action="/edit/<%= todos[i].id %>" method="GET">
            <button type="submit">Edit</button>
          </form>
        </div>
      </li>
    </ul>

    <% } %> <%- include("../partials/footer.ejs") %>
  </body>
</html>
